@import "tailwindcss";

body {
  @apply bg-neutral-950;
  font-family: "Lato", sans-serif;
}



::-webkit-scrollbar {
  width: 6px;  
  height: 6px;
}


::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-thumb {
  background-color: #756e6e; 
  border-radius: 10px;       
}


::-webkit-scrollbar-thumb:hover {
  background-color: #756e6e; 
}



* {
  scrollbar-width: thin;        
  scrollbar-color: #756e6e transparent; 
}